[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git

[submodule ".config/tmux-resurrect"]
	path = .config/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect

[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
